extends layout

block scripts
  script(src='/javascripts/underscore-min.js')
  script(src='/javascripts/backbone-min.js')
  script(src='/javascripts/models/card.js')
  script(src='/javascripts/models/cardList.js')
  script(src='/javascripts/main.js')

block content
  h1 scrumboar - an awesome virtual scrum board
  .col-md-4.col-sm-12.card-container.to-do-container
    h3 to do
  .col-md-4.col-sm-12.card-container.in-progress-container
    h3 in progress
  .col-md-4.col-sm-12.card-container.done-container
    h3 done
