doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Reenie+Beanie:regular')
    script(src='/javascripts/jquery-2.1.3.min.js')
    script(src='/javascripts/jquery-ui.min.js')
    script(src='/javascripts/jquery.ui.touch-punch.min.js')
    script(src='/javascripts/jquery.double-tap.js')
    script(src='/javascripts/socket.io.js')
    script(src='/javascripts/bootstrap.min.js')
    block scripts

  body
    block content