body {
  font-family: Arial, Helvetica, sans-serif;
  color: #CCCCCC;
  background-image: url('/images/background.png');
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.card-container {
  min-height: 300px;
}
.card-container > h3 {
  margin-top: 0;
  text-align: center;
}
